<!-- Contact container -->
<div class="contact-container">
  <!-- Title -->
  <h2>Trabajemos juntos</h2>

  <!-- Short information text -->
  <p>Leave your information and I'll contact you back as soon as posible!</p>

  <!-- Card with contact form -->
  <div class="card">

    <!-- Inputs for each information needed -->
    <input type="text" name="name" id="name" placeholder="Nombre" [(ngModel)]="contact.name">
    <input type="email" name="email" id="email" placeholder="Email" [(ngModel)]="contact.email">
    <textarea name="message" id="message" cols="30" rows="10" placeholder="Escribeme tu projecto..." [(ngModel)]="contact.message"></textarea>
    <!-- Submit button -->
    <button (click)="submit()">Submit</button>

  </div>
</div>