<!-- Contact container -->
<div class="row mb-5 text-center">
  <div class="hover-effect col-md-7 mx-3 mx-md-auto border py-4 px-3 px-md-4 rounded bg-white">

    <!-- Title -->
    <h3>Trabajemos juntos</h3>

    <!-- Short information text -->
    <h6>¡Dejame tu información y te contactare lo mas pronto posible!</h6>

    <!-- Card with contact form -->
    <div class="mt-5 text-left">

      <!-- Inputs for each information needed -->
      <!-- Name -->
      <div class="form-group">
        <label for="name">Nombre Completo</label>
        <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHelp" placeholder="Nombre" [(ngModel)]="contact.name">
      </div>
      <!-- Email -->
      <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Correo electrónico" [(ngModel)]="contact.email">
        <small id="emailHelp" class="form-text text-muted">Nunca compartiré tu correo electrónico con nadie más.</small>
      </div>
      <!-- Message -->
      <div class="form-group">
        <label for="message">¿Qué necesitas?</label>
        <textarea class="form-control" name="message" id="message" cols="30" rows="10" placeholder="Escribeme que necesitas..." [(ngModel)]="contact.message"></textarea>
      </div>
      <!-- Submit button -->
      <button (click)="submit()" class="btn btn-success m-auto d-block">Enviar información</button>

    </div>
  </div>
</div>