// Imports
@import '../../../styles/variables';
	
/*-----------------------------------------------------------*/
/*                       Portfolio                           */
/*-----------------------------------------------------------*/

// Portfolio's container
.portfolio-content {
  padding: 10px 0px 53px;

  // Card with the project
  .card {
    border: 1px solid $txtP;
    text-align: center;
    display: block;
    margin: 0px 0px 30px;
    @include effect;

    // Hover effect
    &:hover {
      box-shadow: 0 0px 20px 0 #0000001f, 0 10px 30px 0 #00000011;
      transform: translate(0px, -4px);
      @include effect;
    }
    
    // Link
    .link-preview {
      cursor: pointer;
      display: block;
      width: 100%;
      
      // Image preview
      .preview {
        width: 100%;
        height: 180px;
        padding: 15px 15px;
        display: block;
        box-sizing: border-box;
      }

      // Project's name
      h3 {
        font-size: 16px;
        margin: 10px 0px;
        font-weight: 600;
      }

      .date {
        font-size: 14px;
        color: $txtLightS;
        margin: 23px 0px 10px;
      }
        
      // Short description
      p {
        padding: 0px 20px 20px;
      }

      // Link to see the project
      .text {
        color: #147399;
        font-weight: 600;
        padding-bottom: 24px;
      }

    }
  }

}