<!-- Container with the about page -->
<div class="about-container">

  <!-- Loading screen while it loads the data -->
  <app-loading-spinner *ngIf="showSpinner; else loaded"></app-loading-spinner>
  <!-- Data once the data is loaded -->
  <ng-template #loaded>

    <!-- About card -->
    <div class="about">
      <!-- Profile image -->
      <img class="preview" [src]="data.information1" alt="profile-image-miguelbogota">
      <!-- Title about me -->
      <h2>{{ universal.information1 }}</h2>
      <!-- Short parraph about me -->
      <p class="pa-about">
        {{ data.information2 }}
      </p>
      <!-- Link to go to about -->
      <a class="link" [routerLink]="['/contact']" (click)="goUp()">{{ universal.information2 }}</a>
    </div>

    <!-- Skill card -->
    <div class="skills">
      <!-- Title about me -->
      <h2>{{ universal.information3 }}</h2>

      <!-- Skill bars -->
      <div class="skill-list" *ngFor="let skill of skills">
        <h3>{{ skill.name }}</h3><div class="bar"><span [ngStyle]="{ 'max-width': initAnimation ? skill.percentage : '0px', 'padding': initAnimation ? '0px 0px 0px 10px' : '0px' }">{{ skill.percentage }}</span></div>
      </div>

    </div>
  
  </ng-template>
  
</div>