//-----------------------------------------------------------
//                        Variables
//-----------------------------------------------------------

// Primary color
$bgLightP: #313131
$bgP: #111111
$bgDarkP: #0a0a0a
// Primary text
$txtLightP: #f9f9f9
$txtP: #e2e2e2
$txtDarkP: #afafaf

// Secondary color
$bgLightS: #cfff95
$bgS: #9ccc65
$bgDarkS: #6b9b37
// Secondary text
$txtLightS: #444444
$txtS: #111111
$txtDarkS: #050505

// Sizes
$sm: 576px
$md: 768px
$lg: 992px
$xl: 1200px

// Effect when hover preview
@mixin effect
  transition: all .14s linear