// Imports
@import '../../../../styles/variables';
	
/*-----------------------------------------------------------*/
/*                          Header                           */
/*-----------------------------------------------------------*/

header {
	// Full width
	width: 100%;

	.banner {
		// Calculate to show navbar always
		width: 100%;
		height: calc(100vh - 120px);
		background-image: url('https://firebasestorage.googleapis.com/v0/b/miguelporfolio.appspot.com/o/cover9.jpg?alt=media&token=a369a162-2f8d-4acb-9159-f011250c57a6');
		background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

		// Center all in the banner vertically
		display: flex;
		justify-content: center;
		align-items: center;

		// Diagonal cut at the bottom
		clip-path: polygon(0 0, 100% 0, 100% calc(100% - 40px), 0 100%);

		.title {
			// Set a padding for 3rem and align it to the center
			max-width: 82%;
			text-align: center;

			// Container
			.container {
				padding: 0px;

				p {
					// Set top and botton lines of the title and set some padding
					border-top: 3px solid $txtLightP;
					border-bottom: 3px solid $txtLightP;
					padding: 10px 16px 10px;
					text-shadow: 1px 1px 5px #111111;
					// Set text size, vertical center and color
					font-size: 40px;
					font-weight: 600;
					color: $txtLightP;
				}

				h1 {
					// Set padding, size and color for the description
					padding: 16px 10px 10px;
					font-size: 18px;
					line-height: 18px;
					color: $txtLightP;
					text-shadow: 1px 1px 5px #111111;
				}
				
			}
			
		}
	}

}