/*-----------------------------------------------------------*/
/*                          Header                           */
/*-----------------------------------------------------------*/

// Text shadow to se an dark outline
.text-shadow {
  text-shadow: 1px 1px 5px var(--dark);
}

// Banner with the image
.banner {
  height: calc(100vh - 100px);
  background-image: url("https://firebasestorage.googleapis.com/v0/b/miguelporfolio.appspot.com/o/cover9.jpg?alt=media&token=a369a162-2f8d-4acb-9159-f011250c57a6");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  // Set top and botton lines for the title
  p {
    border-top: 3px solid var(--light);
    border-bottom: 3px solid var(--light);
	}
	
	// Max border size for the title
	.border-size {
		max-width: 270px;
	}
}
