<!-- Project container -->
<div class="project-container">
  <!-- Loading screen while it loads the data -->
  <app-loading-spinner *ngIf="showSpinner; else loaded"></app-loading-spinner>
  <!-- Data once the data is loaded -->
  <ng-template #loaded>

    <!-- Create mode -->
    <div class="create" *ngIf="createOn">
      <form>
        <!-- Image preview and upload -->
        <div class="img-container">
          <img class="image" [src]="imgSrc" alt="website-preview">
          <!-- Text and icon to upload the image -->
          <div class="text" (click)="fileUploader.click()">
            <i class="fas fa-camera"></i>
            <p>Upload image</p>
          </div>
          <input type="file" #fileUploader (change)="showPreview($event)" [style.display]="'none'">
        </div>
        <!-- Title/Projet's name -->
        <input class="title" type="text" name="title" autocomplete="off" placeholder="Project's name...">
        <!-- Project's date -->
        <div class="date">

          <!-- Date picker for from -->
          <button class="btn" (click)="toggleDate('from')">from:</button>
          <button class="btn" (click)="toggleDate('to')">To:</button>
          <div class="date-picker" *ngIf="dateFrom">
            <h4>Choose date the project started</h4>
            <!-- Day --><select name="day"><option *ngFor="let d of days" value="{{ d.id }}">{{ d.id }}</option></select>
            <!-- Month --><select name="month"><option *ngFor="let m of months" value="{{ m.id }}">{{ m.name }}</option></select>
            <!-- Year --><input name="year" type="text" placeholder="Year">
            <button class="btn">Finish</button>
          </div>
          <div class="date-picker" *ngIf="dateTo">
            <h4>Choose date the project ended</h4>
            <!-- Day --><select name="day"><option *ngFor="let d of days" value="{{ d.id }}">{{ d.id }}</option></select>
            <!-- Month --><select name="month"><option *ngFor="let m of months" value="{{ m.id }}">{{ m.name }}</option></select>
            <!-- Year --><input name="year" type="text" placeholder="Year">
            <button class="btn">Finish</button>
          </div>
        </div>
        <!-- Separator line -->
        <div class="line"></div>
        <!-- Description -->
        <textarea name="desc" placeholder="Project's description..."></textarea>
        <!-- Link to visit the website -->
        <input type="text" class="enter-link" autocomplete="off" name="title" placeholder="Project's external link...">
        <!-- Submit button -->
        <button class="btn submit">Add this project</button>
      </form>
    </div>

    <!-- Edit mode -->
    <div class="edit" *ngIf="editOn">

    </div>

    <!-- View mode -->
    <div class="preview" *ngIf="viewOn">
      <!-- Preview -->
      <img [src]="project.imgUrl" alt="website-preview">
      <!-- Title -->
      <h3>{{ project.title }}</h3>
      <!-- Dates worked -->
      <div class="date">{{ project.dateStart.toDate() | date:'MMM yy' }} - {{ project.dateEnd.toDate() | date:'MMM yy' }}</div>
      <!-- Separator line -->
      <div class="line"></div>
      <!-- Description -->
      <p>{{ project.desc }}</p>
      <!-- Link to visit the website -->
      <a href="{{ project.link }}" target="_blank" class="link">Visit website</a>
    </div>

  </ng-template>

</div>