/*-----------------------------------------------------------*/
/*                         Admin                             */
/*-----------------------------------------------------------*/

// Hover effect
.effect-admin {
  transition: transform .08s linear;

  // Hover effect
  &:hover {
    box-shadow: 0 0px 10px 0 #0000001f, 0 10px 10px 0 #00000011;
    transform: translate(0px, -1px);
  }
}

// Delete and edit links hover effects
.lin {
  transition: color .14s linear;
  cursor: pointer;
}
// Edit
.lin-edi {
  &:hover {
    color: #147399;
  }
}
// Delete
.lin-tra {
  &:hover {
    color: #d40000;
  }
}