<!-- Project container -->
<div *ngIf="auth.userData | async as user; else login" class="m-0">
  <div class="row m-md-0 pb-5">

    <!-- Project data  -->
    <div class="col-md-5 d-flex flex-column mb-3">
      <div class="bg-white p-2 rounded border effect-admin">
        <img class="float-left rounded-circle mx-3" style="width: 80px;" [src]="user.photoURL" alt="profile-photo">
        <div class="float-left mx-3 my-2">
          <p class="mb-2">{{ user.displayName }}</p>
          <button class="btn btn-danger text-light btn-sm" (click)="auth.SignOut()">Cerrar sesión</button>
        </div>
      </div>
      <p class="text-muted text-center mt-3">¿Listo para hacer cambios?</p>
      <a class="btn btn-primary w-50 mx-auto" [routerLink]="['/new']">Nuevo poryecto</a>
    </div>
      
    <!-- Image for the projects and messages -->
    <div class="col-md-7">
      <!-- Projects -->
      <div class="p-2" *ngIf="projects.length > 0">
        <!-- Title --> 
        <h5 class="mb-3 text-center">Proyectos</h5>
        <!-- Projects For -->
        <div class="bg-white rounded border p-2 mb-2 effect-admin" *ngFor="let project of projects">
          <p class="m-0 d-inline-block">{{ project.title }}</p>
          <div class="d-inline-block float-right lin lin-tra mx-3" (click)="deleteProject(project.id)"><i class="fas fa-trash"></i></div>
          <div class="d-inline-block float-right lin lin-edi"><i class="fas fa-edit"></i></div>
        </div>
      </div>

      <!-- Messages -->
      <div class="p-2 mb-3" *ngIf="messages.length > 0">
        <!-- Title --> 
        <h5 class="mb-3 text-center">Mensajes</h5>
        <!-- Messages For -->
        <div class="bg-white rounded border p-2 mb-2 effect-admin" *ngFor="let message of messages">
          <p class="m-0 d-inline-block">Nombre: {{ message.name }}</p>
          <div class="d-inline-block float-right lin lin-tra mx-3" (click)="deleteMessage(message.id)"><i class="fas fa-trash"></i></div>
          <div class="d-inline-block float-right lin lin-edi"><i class="fas fa-edit"></i></div>
          <p class="d-block mb-1">Email: <span class="text-primary">{{ message.email }}</span></p>
          <hr class="my-1" />
          <p class="d-block m-0">Mensaje: {{ message.message }}</p>
        </div>
      </div>
    </div>


  </div>
</div>
<!-- If user is not logged in -->
<ng-template #login>
  <div class="text-center mb-5">
    <p>Por favor iniciar sesión con una cuenta de Google valida.</p>
    <button class="btn btn-outline-primary" (click)="auth.SignIn()">Iniciar sesión con Google</button>
  </div>
</ng-template>