// Imports
@import '../../../sass/_variables'
@import '../../../sass/_mixins'
	
// Margin between each component
$marginBottom: 78px

// Links
.link
  color: #147399
  cursor: pointer
  font-weight: 600

// Effect when hover preview
@mixin effect
  transition: all .3s linear

/*-----------------------------------------------------------*/
/*                          Home                             */
/*-----------------------------------------------------------*/

// Conatiner
.home-container
  // Defaults for the component
  padding: 17px 9% 0px

  // Short info about me
  .short-about
    text-align: right
    margin: 23px 0px $marginBottom

    // Title
    h2
      font-size: 18px
      margin-bottom: 13px
      font-weight: 600
      text-align: center

    // Short info about myself
    .pa-about
      text-align: center

    // Link to go to about
    .link
      display: inline-block
      margin: 20px 11% 0px 0px
  
  // -------------------------------------- //

  // Latest projects
  .latest-projects
    text-align: right
    margin: 0px 0px $marginBottom
    
    // Arrows
    .arrows
      text-align: center
      height: 0px
      position: relative
      cursor: pointer

      a
        position: relative
        bottom: -17px
        padding: 9px 15px
        border-radius: 50%

      a:active
        background-color: #94cde49f

      // Arrows position
      .arrow-left
        display: inline-block
        left: -33%

      .arrow-right
        display: inline-block
        right: -33%

    // Title
    h2
      text-align: center
      font-size: 18px
      margin-bottom: 19px
      font-weight: 600

    // Project's name
    h3
      text-align: center
      font-size: 14px
      margin-bottom: 20px
    
    // Project's preview and link
    .link-preview
      width: 100%
      height: 230px
      display: block
      text-align: center
      background: radial-gradient(50% 90% at center, #202020, #202020, #000000)
      margin-bottom: 7px
      cursor: pointer

      // Hover effect for the image
      &:hover .preview
        opacity: .36
        @include effect

      // HOver effect for the text
      &:hover .text
        background-color: #12485e
        @include effect

      // When click
      &:active
        background-color: #94cde49f

      // Image with preview
      .preview
        width: 100%
        height: calc(100% - 30px)
        display: block
        opacity: 1
        @include effect

      // Text to click
      .text
        display: block
        line-height: 30px
        background-color: $bgLightP
        color: $txtP
        @include effect

    // Short description
    p
      text-align: center
      font-size: 14px

    // Link to go to porfolio
    .link
      display: inline-block
      margin: 20px 11% 0px 0px