// Imports
@import '_variables';
	
/*-----------------------------------------------------------*/
/*                         Global                            */
/*-----------------------------------------------------------*/

// Links
.link {
  color: #147399;
  cursor: pointer;
  font-weight: 600;
}

// Buttons
.btn {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  padding: 0px 20px;
  line-height: 40px;
  background-color: #147399;
  color: #f3f3f3;
  border-radius: 3%;
  transition: all .2s linear;

  // Hover effect
  &:hover {
    background-color: #2b98c4;
  }
}

// Conatiner
.container {
  // Defaults for the component
  padding: 0px 7% 0px;
  max-width: 400px;
  margin: 0px auto;
}