// Imports
@import '_variables';
	
/*-----------------------------------------------------------*/
/*                         Global                            */
/*-----------------------------------------------------------*/

// Links
.link {
  color: #147399;
  cursor: pointer;
  font-weight: 600;
}
// Conatiner
.container {
  // Defaults for the component
  padding: 0px 7% 0px;
}