// Imports
@import '_variables';
	
/*-----------------------------------------------------------*/
/*                           Reset                           */
/*-----------------------------------------------------------*/

/* Minimun width the app can go */
html {
	min-width: 320px;
}
/* Defautls and reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea, button, select, option {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	outline: none;
	font: inherit;
	font-family: 'Bahnschrift Light', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-decoration: none;
	vertical-align: baseline;
	color: $txtS;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*-----------------------------------------------------------*/
/*                         Global                            */
/*-----------------------------------------------------------*/

// Links
.link {
  color: #147399;
  cursor: pointer;
  font-weight: 600;
}

// Buttons
.btn {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  background-color: #147399;
  color: #f3f3f3;
  border-radius: 3%;
  transition: all .2s linear;

  // Hover effect
  &:hover {
    background-color: #2b98c4;
  }
}

// Conatiner
.container {
  // Defaults for the component
	padding: 0px 7% 0px;
	max-width: 400px;
  margin: 0px auto;
}