// Import varibles
@import '_variables';

/*-----------------------------------------------------------*/
/*                         Global                            */
/*-----------------------------------------------------------*/

/* Minimun width the app can go */
html { min-width: 320px; }
/* Background color for the app */
body { background-color: var(--light); }
/* Max width to make a little smaller */
.container { max-width: 940px; }
/* Defautl size */
* { font-size: 15px; font-family: 'Bahnschrift Light', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

// Links
.link {
  color: #147399;
  cursor: pointer;
  font-weight: 600;
}

// Buttons
.btn {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  background-color: #147399;
  color: #f3f3f3;
  border-radius: 3%;
  transition: all .2s linear;

  // Hover effect
  &:hover {
    background-color: #2b98c4;
  }
}
