<!-- Component add an image to a preview and send the information to the parent -->
<div class="img-container position-relative">

  <!-- Button to show the modal to change image -->
  <button #changeModal id="changeModal" data-toggle="modal" data-target="#cropImage" [style.display]="'none'"></button>

  <!-- Previewed image -->
  <img class="img-fluid rounded" [src]="imgSrc">
  <!-- Input hidded to upload image -->
  <input type="file" #fileUploader (change)="uploadFile($event)" [style.display]="'none'">
  
  <!-- Text and icon to upload the image -->
  <div class="text" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-camera"></i>
    <p>Edit</p>
  </div>

  <!-- Dropwdown menu for editing the picture -->
  <div class="dropdown-menu" aria-labelledby="dropdownMenu">
    <!-- Modal trigger to change the image and crop it -->
    <a class="dropdown-item" (click)="fileUploader.click()" style="cursor: pointer;">{{ imgSelected ? 'Change' : 'Add' }}</a>
    <a class="dropdown-item" (click)="changeModal.click()" style="cursor: pointer;" *ngIf="imgSelected">Edit</a>
    <a class="dropdown-item" (click)="removeImage()" style="cursor: pointer;" *ngIf="imgSelected">Remove</a>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="cropImage" tabindex="-1" role="dialog" aria-labelledby="cropImageTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <!-- Modal header // Title and close button -->
        <div class="modal-header">
          <p class="modal-title">Crop your new profile picture</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <!-- Image Cropper -->
          <image-cropper class="img-fluid float-left" style="max-width: 624px;" [imageChangedEvent]="imageUploadEvent"
            [maintainAspectRatio]="true" [aspectRatio]="1 / 1" [resizeToWidth]="738" format="png" (imageCropped)="imageCropped($event)">
          </image-cropper>
        </div>

        <!-- Submit for the cropped image -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success btn-block" data-dismiss="modal" (click)="submitImage()">Set new memory picture</button>
        </div>

      </div>
    </div>
  </div>

</div>