<!-- Card with projects -->
<div class="card mt-3">
  <!-- Project's preview -->
  <img class="card-img-top" [src]="project.imgUrl" alt="Card image cap">
  <!-- Card's body -->
  <div class="card-body">
    <!-- Project's name -->
    <h5 class="card-title mb-1">{{ project.title }}</h5>
    <p class="card-text mb-1">  
      <!-- Project's short description -->
      {{ project.subtitle }}
    </p>
    <!-- Link to go to the project -->
    <a class="card-link" [routerLink]="['/portfolio', project.id]">Ver proyecto</a>
  </div>
</div>