<!-- Card with projects -->
<div class="card">
  <!-- Project's preview -->
  <img class="card-img-top" [src]="Data.imgUrl" alt="Card image cap">
  <!-- Card's body -->
  <div class="card-body">
    <!-- Project's name -->
    <h5 class="card-title mb-1">{{ Data.title }}</h5>
    <p class="card-text mb-1">  
      <!-- Project's short description -->
      {{ Data.desc | slice:0:63 }}...
    </p>
    <!-- Link to go to the project -->
    <a class="card-link" [routerLink]="['/portfolio', Data.id]">Ver proyecto</a>
  </div>
</div>