<!-- Nav-bar -->
<nav class="py-3">
	<!-- Container -->
	<div class="container">

	<!-- All the other links -->
	<ul class="nav justify-content-center">
		<li class="nav-item p-2">
			<a class="nav-link text-dark p-2 font-weight-bold" [routerLink]="['/portfolio']" routerLinkActive="active">Portafolio</a>
		</li>
		<li class="nav-item p-2">
			<a class="nav-link text-dark p-2 font-weight-bold" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
		</li>
		<li class="nav-item p-2">
			<a class="nav-link text-dark p-2 font-weight-bold" [routerLink]="['/contact']" routerLinkActive="active">Contacto</a>
		</li>
	</ul>

	</div>
</nav>