/*-----------------------------------------------------------*/
/*                           Nav                             */
/*-----------------------------------------------------------*/

// Active link
.active {
  border-bottom-color: var(--dark) !important;
}

// Link hover effect
.nav-link {
  font-size: 16px !important;
	border-bottom: 1.5px solid transparent;
  transition: all 0.2s ease-in-out 0s;

  &:hover {
    border-bottom: 1.5px solid var(--dark) !important;
  }
}
