<!-- Project container -->
<div class="row m-md-0 mb-5">

    <!-- Images for the projects -->
    <div class="col-lg-7 text-center">
      <!-- Upload message -->
      <div class="d-block">
        <ng-container *ngIf="(uploadPercentage - 0) * (uploadPercentage - 99.9) <= 0 ? true : false">
          <div class="progress mt-3">
            <div class="progress-bar progress-bar-animated bg-success" [style.width.%]="uploadPercentage"></div>
          </div>
          <p>Progress: {{ uploadPercentage | number:'1.0-0' }}% Complete</p>
        </ng-container>
        <a class="d-block mb-3 py-2 mx-5 text-success upload-completed" *ngIf="uploadPercentage == 100"
          [routerLink]="['/portfolio']">
          <span class="d-block">Upload completed!</span>
          <span class="d-block"><i class="fas fa-arrow-left mr-2"></i>Go back to the home and see the project</span>
        </a>
      </div>
      <!-- Image cropper -->
      <app-cropper (media)="getMedia($event)" #cropper></app-cropper>
    </div>

    <!-- Project information and data -->
    <div class="col-lg-5 ">
      <div class="content border bg-white py-3 px-4 mb-5 rounded">

        <h3>Proyecto</h3>

        <!-- Project's title -->
        <div class="form-group">
          <label for="inputTitle">Titulo</label>
          <input type="text" [(ngModel)]="project.title" class="form-control" id="inputTitle" placeholder="Nombre del proyecto">
        </div>

        <!-- Subtitle of the project -->
        <div class="form-group">
          <label for="inputSubtitle">Subtitulo</label>
          <input type="text" [(ngModel)]="project.subtitle" class="form-control" id="inputSubtitle" placeholder="Subtitulo del proyecto">
        </div>

        <!-- Date from -->
        <div class="form-group">
          <label for="inputDateFrom">Fecha de</label>
          <input type="date" [(ngModel)]="dateFrom" class="form-control" id="inputDateFrom">
        </div>

        <!-- Date To -->
        <div class="form-group">
          <label for="inputDateTo">Fecha a</label>
          <input type="date" [(ngModel)]="dateTo" class="form-control" id="inputDateTo">
        </div>

        <!-- Description -->
        <div class="form-group">
          <label for="inputDesc">Descripción</label>
          <textarea [(ngModel)]="project.desc" class="form-control" id="inputDesc" placeholder="Descripción del proyecto" rows="3"></textarea>
        </div>

        <!-- Link of the project -->
        <div class="form-group">
          <label for="inputLink">Link</label>
          <input type="text" [(ngModel)]="project.link" class="form-control" id="inputLink" placeholder="Link del proyecto">
        </div>

        <button class="btn btn-block btn-primary mt-4" (click)="addProject()">Agregar proyecto</button>

      </div>
    </div>

</div>