// Imports
@import '../../../../styles/variables';
	
/*-----------------------------------------------------------*/
/*                      Project-New                          */
/*-----------------------------------------------------------*/

// Project's container
.project-container {
  padding: 14px 0px 67px;
  text-align: right;

  // --------------------- Create mode --------------------- //
  .create {
    width: 100%;

    form {

      // Image's container
      .img-container {
        display: block;
        position: relative;
        width: 116%;
        height: 50vh;
        margin: 0px -8%;
        box-sizing: border-box;
        overflow: hidden;

        // Image
        .image {
          width: 100%;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translateY(-50%) translateX(-50%);
        }
        // Conatiner for the text
        .text {
          background-color: #bbbbbbe5;
          position: absolute;
          display: block;
          left: 14px;
          top: 14px;
          padding: 10px;
          border-radius: 2%;
          cursor: pointer;
          // Icon
          i {
            display: inline-block;
            margin-right: 9px;
          }
          // Text "Upload"
          p {
            display: inline-block;
          }
        }
      }

      // Generated ID
      h3 {
        margin: 10px -3% 10px 0px;
      }

      // Project's name
      .title {
        display: block;
        width: 100%;
        padding: 5px 6px 2px 6px;
        margin: 24px 0px 17px;
        font-size: 20px;
        font-weight: 600;
        text-align: left;
        box-sizing: border-box;
        border-bottom: 1px solid transparent;
        @include effect;
        // When active
        &:focus {
          border-bottom: 1px solid $txtDarkP;
        }
      }

      // Date picker
      .date {
        text-align: center;

        // Button to show date picker
        button {
          background-color: #f3f3f3;
          color: $txtS;
          margin: 6px 20px;
        }
        // Date picker container
        .date-picker {
          position: relative;
          width: 100%;
          // Title
          h4 {
            margin-top: 10px;
          }
          // Dropdown menu
          select {
            width: 30%;
            height: 30px;
            position: relative;
            cursor: pointer;
            border: 1px solid $txtDarkP;
            border-radius: 2px;
            margin: 10px 1%;
          }
          // Input for the year
          input {
            width: 30%;
            height: 28px;
            position: relative;
            border: 1px solid $txtDarkP;
            border-radius: 2px;
            margin: 10px 1%;
            padding-left: 5px;
          }
          // finish set up the date
          a {
            position: relative;
            background-color: $bgLightP;
            color: $txtP;
            right: -34%;
            margin: 0px;
            padding: 6px 9px;
            border-radius: 2px;
          }
        }
      }

      // Separator line
      .line {
        width: 100%;
        height: 1px;
        margin: 10px auto 22px;
        display: block;
        background-color: $txtDarkP;
        text-align: left;
      }

      // Description
      textarea {
        width: 100%;
        height: 70px;
        resize: none;
        padding: 4px;
        box-sizing: border-box;
        margin-bottom: 10px;
        border-bottom: 1px solid transparent;
        @include effect;
        // When active
        &:focus {
          border-bottom: 1px solid $txtDarkP;
        }
      }

      // External link
      .enter-link {
        width: 100%;
        padding: 9px;
        box-sizing: border-box;
        border-bottom: 1px solid transparent;
        @include effect;
        // When active
        &:focus {
          border-bottom: 1px solid $txtDarkP;
        }
      }

      // Subimit button
      .submit {
        margin: 20px 1% 0px 0px;
      }

    }
  }
  
}