/*-----------------------------------------------------------*/
/*                      Project-New                          */
/*-----------------------------------------------------------*/

.upload-completed {
  text-decoration: none;
  transition: all 0.3s linear;
  &:hover {
    background-color: #f3f3f3 !important;
  }
}