/*-----------------------------------------------------------*/
/*                         Project                           */
/*-----------------------------------------------------------*/

// Imgane for the title
.banner {
  height: 85vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
