/*-----------------------------------------------------------*/
/*                          Footer                           */
/*-----------------------------------------------------------*/

footer {
  background-color: #222222;

  .foot {
    height: 85vh;

    // Color for the icons
    i {
      color: #afafaf;
      transition: all 0.2s linear 0s;

      &:hover {
        color: #e2e2e2;
      }
    }
  }

  // Button to the admin page
  .link-to-admin {
    height: 30px;
    bottom: 0;
    cursor: default;
  }
}
