<footer class="position-relative text-center">
	<!-- Contact information -->
	<div class="container">

		<!-- Footer -->
		<div class="foot d-flex flex-column justify-content-center">

			<!-- Solocial networks container -->
			<div class="mx-auto">
				<!-- Button to leave information to work together -->
				<a class="btn btn-outline-secondary p-3 btn-lg" [routerLink]="['/contact']">Trabajemos juntos</a>

				<!-- Social networks -->
				<div class="mt-5 p-2">
					<!-- Title fo social network -->
					<h5 class="text-secondary">Encuéntrame también en:</h5>
					<!-- GitHub link -->
					<a class="d-inline-block m-2 mt-3" href="https://github.com/miguelbogota" target="_blank">
						<!-- GitHub icon -->
						<i class="fab fa-github-square fa-3x"></i>
					</a>
					<!-- LinkedIn link -->
					<a class="d-inline-block m-2 mt-3" href="https://linkedin.com/in/miguelbogota" target="_blank">
						<!-- LinkedIn icon -->
						<i class="fab fa-linkedin fa-3x"></i>
					</a>
				</div>

			</div>
		</div>

		<!-- Copyright -->
		<p style="border-top: 1px solid #666666;" class="text-secondary mb-0 pt-4">©Copyright 2019 All Rights Reserved</p>
		<p class="text-secondary mb-0">Miguel Bogota</p>

		<!-- Link to the admin page -->
		<a class="link-to-admin d-block" [routerLink]="['/admin']"></a>
	</div>
</footer>