<footer>
	<!-- Footer -->
	<div class="foot">

		<!-- Contact information -->
		<div class="contact">

			<!-- Button to leave information to work together -->
			<a class="btn-work-together" [routerLink]="['/contact']" (click)="goUp()">Trabajemos juntos</a>

			<!-- Social networks -->
			<div class="social">

				<!-- Title fo social network -->
				<h4>Encuéntrame también en:</h4>

				<!-- GitHub link -->
				<a class="social-link" href="https://github.com/miguelbogota" target="_blank">
					<!-- GitHub icon -->
					<i class="fab fa-github-square fa-3x"></i>
				</a>

				<!-- LinkedIn link -->
				<a class="social-link" href="https://linkedin.com/in/miguelbogota" target="_blank">
					<!-- LinkedIn icon -->
					<i class="fab fa-linkedin fa-3x"></i>
				</a>

			</div>

		</div>

		<!-- Link to the admin page -->
		<a class="link-to-admin" [routerLink]="['/admin']"></a>
	</div>
</footer>
